[Unit]
Description=Photobooth Frontend Kiosk
After=graphical.target
Wants=graphical.target
After=photobooth-backend.service

[Service]
Type=simple
User=zumpe
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/zumpe/.Xauthority
WorkingDirectory=/home/zumpe/photobooth
ExecStartPre=/bin/sleep 10
ExecStart=/home/zumpe/photobooth/start-kiosk.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
