[Unit]
Description=Photobooth GPIO Button Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /home/zumpe/photobooth/backend/gpio-button.py
WorkingDirectory=/home/zumpe/photobooth/backend
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
